version: '3.9'

services:
    # Service Nginx
    nginx:
            image: nginx:latest
            container_name: nexa-api-nginx
            restart: always
            ports:
                    - "8099:80"
            volumes:
                    - ./backend:/var/www
                    - ./backend/nginx/default.conf:/etc/nginx/conf.d/default.conf
            depends_on:
                    - app
            networks:
                    - app-network

    # Service PHP
    app:
            build:
                    context: ./backend
            container_name: nexa-api-app
            restart: always
            volumes:
                    - ./backend:/var/www
            depends_on:
                    - db
            networks:
                    - app-network

    # Service MySQL
    db:
            image: mysql:5.7
            container_name: nexa-api-db
            restart: always
            ports:
                    - "33099:3306"
            environment:
                    MYSQL_DATABASE: db_nexa
                    MYSQL_USER: user
                    MYSQL_PASSWORD: password
                    MYSQL_ROOT_PASSWORD: root
            volumes:
                    - mysql_data:/var/lib/mysql
            networks:
                    - app-network

    web:
            build:
              context: ./frontend
            container_name: nexa-web
            ports:
              - "5173:5173"
            working_dir: /app
            volumes:
              - ./frontend:/app
            tty: true
            command: npm run dev -- --host

volumes:
        mysql_data:

networks:
        app-network:
                driver: bridge
